form{
  text-align: center;
}
form table#table-newsletter{
  margin: 0 auto;
}
input.newsletter-email{
    padding: 10px 10px;
    font-size: 15px;
    outline: none;
}

input.newsletter-submit{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  color: #fff;
  background: #da0707;
}
