h2#prox {
    margin: 70px 0px 30px 0px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
  background-color: transparent!important;
  color:#333!important;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
  color:#333!important;
}
/* Carousel prossimamente */

ul.prossimamente{
	list-style: none;
}
ul.prossimamente li {
  /*width: 250px;*/
  display: inline-block;
  vertical-align: top;
}
ul.prossimamente li h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

ul.prossimamente li p {
  margin: 0;
}
.owl-carousel {
  position: relative;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 35%;
  margin-top: -10px; /*// Half of the prev/next buttons height here in negatives to center them perfectly*/
}
.owl-prev {
  left: -30px;
}
.owl-next {
  right: -5px;
}

@media screen and (min-width: 767px) {
  /* Carousel prossimamente */
  ul.prossimamente li {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* Carousel prossimamente */
  .owl-prev,
  .owl-next{
    display: none!important;
  }
  ul.prossimamente li {
    margin-bottom: 50px;
  }
}