
/* SCHEDA FILM */
.scheda {
  display: inline-block;
  width: 100%;
  margin: 0 0 60px;
}

.post_image img {
  position: relative;
  width: 100%;
  display: block;
}

.scheda .post_content_holder {
  width: 100%;
}
.scheda .post_image,
.scheda .post_text {
  width:50%;
  float: left;
  margin: 0;
}

.scheda .post_text .post_text_inner {
  padding: 23px 23px 23px 23px;
}

.scheda-film {
  list-style-type: none!important;
  list-style: none!important;
}

.scheda-film h3 {
  border-bottom: 1px solid #333;
}

.scheda-film li {
  padding: 5px 0;
  list-style-type: none!important;
  list-style: none!important;
}
.breadcrumbs{
  margin: 30px auto;
}
.single .header_bottom.clearfix{
    opacity: 1!important;
    background: #da0707!important;
}
.scheda-singolo{
  list-style: none!important;
  margin-bottom: 18px;
}
.scheda-singolo h1{
  font-size: 45px;
  margin-bottom: 12px;
}
.scheda-singolo h3{
  margin-bottom: 6px;
}
.scheda-singolo li{
  font-weight: bold;
}
.custom-field {
  font-weight: normal;
}
.trama{
  width:100%;
  float:left;
  margin-top: 50px;
}
@media only screen and (max-width : 768px) {
  .scheda .post_image,
  .scheda .post_text {
    width: 100%;
  } 
}