@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900';
@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css';
/*hack per lo slider*/
.carousel-inner h2,
.carousel-inner .q_slide_subtitle span{
  margin:0!important;
}

body {
font-family: 'Lato', sans-serif;
}
/*Fix archivio*/
body.post-type-archive-quantestorie header,
body.post-type-archive-virgilio header{
  background-color: #da0707!important;
}
body.post-type-archive-quantestorie header .header_bottom,
body.post-type-archive-virgilio header .header_bottom{
  background-color: rgba(0, 0, 0, 0)!important;
}
/* Stile Base */
#film{
	z-index: 10;
}
.show-md {
display: none;
}
.show-lg {
display: inline;
}
.pull-left {
float: left;
}
.rosso {
color: #da0707;
font-weight: 900;
}
.rosso a{
color: #da0707;
}
.nero {
color: #333333
}
.grigio {
color: #767676
}
.bianco {
color: #f0f0f0
}
.banner {
background: #da0707;
color: #fff;
padding: 2px 5px;
display: inline-block;
margin: 20px 0px;
font-weight: 900;
display: table;
}
.banner_2 {
background: #da0707;
color: #fff;
padding: 2px 5px;
display: inline-block;
font-weight: 900;
}
.orario {
background: #da0707;
color: #fff;
font-weight: 900;
padding: 2px 5px;
margin: 0 2px 0 0;
}
.optional {
background: rgb(0, 148, 224);
color: #fff;
font-weight: 900;
padding: 2px 5px;
margin: 0 5px 0 0;
}
/* Info Cinema Base */
#info-cinema h2 {
font-size: 34px;
margin-bottom: 0;
text-transform:uppercase;
}
#biglietti,
#indirizzo{
  line-height: 1.6;
}
#indirizzo{
  margin-bottom: 10px;
}
#indirizzo p {
margin: 3px 0;
}
#indirizzo i {
margin-right: 4px;
}
#indirizzo p strong{
  margin-left: 3px;
}
.margin-left {
margin-left: 10px;
}
.margin-bottom {
margin-bottom: 0;
text-transform: uppercase;
}
.margin-top {
margin-top: 0;
}
.asterisco {
font-size: 12px;
letter-spacing:0.015em;
}
#servizi img{
  width: 130px;
  margin: 10px 0;
}
#info-cinema.virgilio{
/*margin-top: 50px;*/
}
#info-cinema.manziana{
margin-top: 70px;
}
/* Tabella Base */
#film table {
width: 100%;
margin: 0;
padding: 0;
border-collapse: collapse;
border-spacing: 0;
}
#film table thead {
border-bottom: 1px solid #767676;
}
#film table tbody tr {
border-bottom: 1px solid #f0f0f0;
}
#film table tr {
padding: 5px;
}
#film table th,
#film table td {
padding: 10px 0;
text-align: left;
}
#film table th {
text-transform: capitalize;
font-size: 14px;
letter-spacing: 1px;
text-align: left;
}
td img {
  /*imposta le dimensioni a 135px di larghezza e 200 di altezza da wp*/
vertical-align: middle;
margin: 4px 0;
}
.locandina {
/* width: 70%; */
}
td .locandina-testo {
display: inline-block;
margin-left: 10px;
/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
td .locandina-testo h3 {
font-size: 15px;
font-weight: 900;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 0;
color: #333;
}
td .locandina-testo p {
margin: 0;
}
.al-cinema{
	text-transform: capitalize;
}
.in-sala{
line-height: 1;
}
.optional-group {
margin-top: 25px;
}
@media screen and (max-width: 768px) {

#film table {
border: 0;
}
#film table thead {
display: none;
}
#film table tr {
margin-bottom: 10px;
/* Mi da problemi nel mobile*/
/*display: block;*/
}
#film table td {
display: block;
font-size: 13px;
}
#film table td:last-child {
border-bottom: 0;
}

.show-lg {
display: none;
}
.show-md {
display: inline;
}
td.orari-spettacoli {
padding: 0!important;
}

.locandina {
  width: 100%;
}
td .locandina-testo{
  width: 50%;
}
td .locandina-testo {
margin-left: 0;
}

td img {
margin-right: 10px;
}
}
@media (min-width: 480px) {
#indirizzo p {
display: inline;
margin-right: 10px;
}
}
@media(max-width:360px) {
.orario {
margin: 0;
}
}
@media(max-width:320px) {
td img {
/*width: 135px;*/
}
td.orari-spettacoli {
line-height:2;
}
#info-cinema h2{
font-size:30px;
}
.biglietti,
.asterisco{
font-size:12px;
}
.margin-bottom{
margin-top:10px;
}
}


@media (min-width: 1024px){
  .carousel:not(.advanced_responsiveness) .carousel-inner {
      position: relative;
  }
}
