.magic-button{
    background-color: #da0707;

    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px 0px 0px;
    cursor: pointer;
}
.magic-button:hover{
  background-color: #c0392b;
}
.red{
  background-color: #da0707;
  outline: none;
}
